{% extends 'base.html' %}

{% block title %}Blog{% endblock %}

{% block content %}
    <div class="p-8">
        <h1 class="text-3xl font-bold text-center mb-10">My Thoughts 💭 ... </h1>
        <section class="bg-slate-700 hover:bg-slate-600 p-5 border border-white rounded-xl mb-5">
            <div class="flex justify-between">
                <h1 class="text-xl font-bold">Let's Talk Projects: The Journey So Far</h1>
                <h6 class="text-sm italic">March 14, 2024</h6>                
            </div>
            <br>
            <p>
                Man, diving into these projects has been one heck of a ride. You know that saying about not 
                really learning until you get your hands dirty? Well, it's spot-on. I've been knee-deep in 
                just three projects, and the amount of stuff I've picked up is mind-blowing.
            </p>
            <br>
            <p>
                First off, I whipped up my portfolio page using Next.js. Can you believe it? Me, creating 
                an API using Django for my blog posts. Talk about a rollercoaster! Trying to figure out how 
                to organize the titles on one page and the actual posts on another? Total brain workout. 
                But hey, learning to build things dynamically? That's the real game-changer. Saves so much 
                time, let me tell you.First off, I whipped up my portfolio page using Next.js. Can you 
                believe it? Me, creating an API using Django for my blog posts. Talk about a rollercoaster! 
                Trying to figure out how to organize the titles on one page and the actual posts on another?
                Total brain workout. But hey, learning to build things dynamically? That's the real 
                game-changer. Saves so much time, let me tell you.
            </p>
            <br>
            <p>
                Then there's the social media app gig, all done up in Django. From authentication to 
                updating profiles, and even dynamically changing pages based on an API, it's been a wild 
                ride. Sure, the API's missing some key info, but hey, that's part of the fun, right? 
                Problem-solving central, and I'm all in.
            </p>
            <br>
            <p>
                Oh, and did I mention the website for a business I was tinkering with? Spruced it up using 
                HTML and Tailwind CSS. Talk about versatility! Messing around with different tech and 
                packages has been a blast. And now, I'm eyeing up data analysis for my next project. Gotta 
                keep expanding the toolkit, you know?
            </p>
            <br>
            <p>
                As for the job hunt, yeah, imposter syndrome likes to rear its ugly head now and then. But 
                hey, I'm not letting that stop me. With each challenge tackled, I'm one step closer to 
                landing that dream gig. Who knows, maybe I'll be gainfully employed as a developer before 
                the year's out.
            </p>
            <br>
            <p>
                So here's to riding the project wave, soaking up every lesson, and staying hungry for more. 
                Cheers to the journey, folks!
            </p>
        </section>
        <section class="bg-slate-700 hover:bg-slate-600 p-5 border border-white rounded-xl mb-5">
            <div class="flex justify-between">
                <h1 class="text-xl font-bold">Embracing the Pythonic Path: From Frontend Fancies to Backend Brilliance</h1>
                <h6 class="text-sm italic">February 2, 2024</h6>                
            </div>
            <br>
            <p>
                Alright, lets dive into the world of Python – my coding comfort zone. But hey, do not get 
                me wrong, sometimes I feel the itch to play around with JavaScript syntax. Still, I am 
                getting the hang of it, you know? It is all part of the learning curve.
            </p>
            <br>
            <p>
                Embracing Backend Development with Django: Now, backend development is where the real fun 
                begins for me. Sure, I love seeing the frontend come together, but there is something about 
                backend magic that just gets me pumped. And then along came Django – like, mind blown! 
                Learning to use it as a full-stack framework? Absolutely mind-boggling. From user logins to 
                tinkering with databases, it has been one heck of a ride. And guess what? I am picking 
                things up faster than I expected. It is kinda crazy, right? But hey, I am not rushing 
                through it. Took a day off to kick back and make sure I am not flying through the learning 
                process.
            </p>
            <br>
            <p>
                Delving Deeper into Software Development: But here is the kicker: I wanna go deep. I am 
                talking data structures and algorithms – the bread and butter of the coding world. I do not 
                wanna just skim the surface. I wanna write clean code, understand how it affects the system,
                heck, maybe even whip up my own library someday. So yeah, call me a software mechanic – I 
                am all about peeling back those abstractions and getting down to the nitty-gritty. And you 
                know what? If I cannot write my own vanilla code to build my own abstractions, then what is
                the point, right?
            </p>
            <br>
            <p>
                Next Steps: Diving into Data Structures and Algorithms: So what is next on the agenda? 
                DSA (data structures and algorithms), baby. It is gonna be a wild ride, but hey, I am ready 
                to level up and become the developer I wanna be. World domination might be a stretch, but 
                hey, a guy can dream, right? 😉 #PythonRocks #DjangoForDays #BackendBoss #TechJourney
            </p>
        </section>
        <section class="bg-slate-700 hover:bg-slate-600 p-5 border border-white rounded-xl mb-5">
            <div class="flex justify-between">
                <h1 class="text-xl font-bold">Navigating the Backend: My Adventure Begins</h1>
                <h6 class="text-sm italic">January 23, 2024</h6>                
            </div>
            <br>
            <p>
                So, my journey into the backend realm started with a deep dive into React. Before tackling 
                the backend magic, I wanted to nail down my understanding of this JavaScript gem. As I dug 
                into this aspect of development, there was something thrilling about pulling the strings 
                behind the scenes, shaping how applications function. Getting into React: I kicked things 
                off by diving headfirst into React, the trusty JavaScript library for crafting user 
                interfaces. My goal? To lay down a solid frontend foundation before venturing into the 
                backend wilderness. Spending days immersed in React was eye-opening, giving me a deeper 
                understanding of the visual side of web development. But, I found myself getting too caught 
                up in making the app look pretty, so I decided to shift my focus to the server side.
            </p>
            <br>
            <p>
                Venturing into Backend Territory: Next up: mastering the art of creating web servers and 
                getting cozy with Express – a sleek web application framework for Node.js. Let me tell you, 
                it was not all smooth sailing; grasping middleware flow, a critical concept in Express, 
                took quite a few tries. But every stumble brought me one step closer to mastering the 
                backend game.
            </p>
            <br>
            <p>
                Hands-on with PostMan: To really wrap my head around backend stuff, I started using 
                PostMan – a nifty tool for testing APIs. With PostMan, I could fire off requests to the 
                server and see the responses I cooked up, which really helped me see the practical side of 
                my learning. Going hands-on like this gave me a whole new appreciation for backend 
                development.
            </p>
            <br>
            <p>
                Wrapping Up: My journey into backend development has been a rollercoaster of ups and downs.
                Hours spent at my desk, wrestling with new concepts and tools, have shown me just how much 
                there is to learn. But hey, every challenge today brings me closer to my dream of becoming 
                a Full Stack Developer. I am stoked to dive deeper into databases and SQL, and I cannot 
                wait to see what lies ahead. As I keep on trucking, I am reminded that the rewards of 
                tomorrow are worth the effort of today. Lets do this!
            </p>
        </section>
        <section class="bg-slate-700 hover:bg-slate-600 p-5 border border-white rounded-xl mb-5">
            <div class="flex justify-between">
                <h1 class="text-xl font-bold">From Front-End Fumbles to Backend Beginnings</h1>
                <h6 class="text-sm italic">January 19, 2024</h6>                
            </div>
            <br>
            <p>
                So, guess what? I have officially wrapped up the front-end development section of my journey
                and let me just take a moment to give a huge shoutout to whoever invented frameworks – you 
                are a lifesaver, my friend! Seriously, they have made my developer life a whole lot easier. 
                Scary React: Now, lets talk about React. Honestly, I used to think it was this big, scary 
                thing I wouldd never understand. But hey, after getting my hands dirty with some React
                projects in class and even building my portfolio website with it, I have realized it is not 
                so bad. I will not call myself a React guru, but I can make my components dance to the 
                website tune. 
            </p>
            <br>
            <p>
                The only problem? I cannot seem to settle on a design for my site. I mean, I tried 
                wire-framing and all, but once I start coding, I just want to tweak everything. Design 
                struggles, am I right? And do not even get me started on JSX syntax. At first, I was like, 
                More syntax to learn? No, thanks! But surprise, surprise – it felt like I had seen it 
                somewhere before. Now, with the front-end conquered, it is time to peek under the hood and 
                explore the backend world.
            </p>
            <br>
            <p>
                What Is Next: I have dabbled a bit in databases, played around with MySQL schemas, and even 
                mastered the SQL language. And you know what? It is fascinating stuff! So, I am psyched to 
                dive into servers, APIs, and all the other backend goodies. Yep, I have decided – I want to 
                be a backend developer. Next up on my agenda: Node.js and Express.js. Bring it on! Oh, and 
                did I mention our final project? We are diving into machine learning to identify faces in 
                pictures. How cool is that? So, here is the deal: I am in this journey for the long haul. 
                No quitting, no matter how tough it gets. Lets do this!
            </p>
        </section>
        <section class="bg-slate-700 hover:bg-slate-600 p-5 border border-white rounded-xl mb-5">
            <div class="flex justify-between">
                <h1 class="text-xl font-bold">Rediscovering My Passion: A 22-Year Journey Back to Software Engineering</h1>
                <h6 class="text-sm italic">January 12, 2024</h6>                
            </div>
            <br>
            <p>
                Hey fellow dreamers! Today, I am excited to share a personal milestone on my blog – the 
                rediscovery of a passion I started 22 years ago. Back in college, I was on the path to becoming 
                a software engineer, but life had other plans, and I took a detour into the world of customer 
                service. Life has Twists and Turns: After majoring in software engineering, unexpected turns 
                led me away from my initial career path. Most of my professional life revolved around customer 
                service, helping people with their tech-related concerns. While I found fulfillment in assisting 
                others, a part of me always yearned to revisit my roots in software engineering. 
            </p>
            <br>
            <p>
                Age as a Barrier: Over the years, the idea of returning to what I started became a distant 
                dream. I almost let my age become a barrier, doubting whether it was too late to dive back 
                into the world of coding. The fear of not being able to catch up with the fast-paced tech 
                advancements held me back.
            </p>
            <br>
            <p>
                2024: A Year of Resurgence: But here I am, declaring 2024 as my year of resurgence. It is time 
                to overcome the self-imposed limitations and pursue the dreams I put on hold. Age is just a 
                number, and the passion for coding does not have an expiration date. 
            </p>
            <br>
            <p>
                Embracing Change: I have realized that life is a journey, and it is never too late to 
                course-correct. Embracing change is a part of growth, and I am ready to embark on this new 
                chapter. The decision to go back to my roots in software engineering is fueled by a burning
                desire to reconnect with the thrill of coding.
            </p>
        </section>
    </div>
{% endblock %}