{% extends 'base.html' %}

{% block title %}DevCEO{% endblock %}

{% block content %}
    <img 
        class="w-screen"
        src="../static/devceo_logo.png" 
        alt="logo for MarcDevCEO"
    >
    <div class="m-10 text-xl">
        <p>
            Welcome to my portfolio site! I'm a Software Developer specializing in Python, with a 
            strong focus on creating innovative solutions using this versatile language. Here, you'll 
            find a collection of my projects that showcase my expertise, from web development to data 
            analysis. My resume is available for you to explore my professional journey and technical 
            skills. Additionally, I've created a blog where I share my journey, insights, and thoughts 
            on tech trends.
        </p>
        <br>
        <p>
            Over 20 years ago, I began my journey at Auburn University, majoring in Software Engineering. 
            However, life had other plans, and I eventually had to leave school. For the past two decades, 
            I've worked in various roles, with customer service being the most impactful. This experience 
            has equipped me with exceptional communication skills, allowing me to understand what customers 
            want and need, and to convey information in a way that is clear and comprehensible.
        </p>
        <br>
        <p>
            Now, I'm returning to my roots in software development, bringing with me a deep understanding 
            of the customer perspective. With the advent of AI, we have the potential to create tools that 
            transform customer service from a mere utility to a true partner in business. Small business 
            owners can leverage AI to operate and scale their businesses without the burden of unaffordable 
            payroll expenses.
        </p>
        <br>
        <p>
            My goal is to bridge the gap between technology and customer service, guiding us into a new era 
            where software is not just a tool, but an indispensable partner in achieving business success. 
            Join me on this exciting journey as we explore the future of AI-driven solutions designed with 
            the customer in mind.
        </p>
    </div>
    <div class="mt-16">
        <h1 class="text-xl text-center font-bold">Just some of my interests: (all AI generated) </h1>
            <div class="flex m-5 overflow-auto">
                <img class="p-3" src="../static/philly_eagles.png" alt="">
                <img class="p-3" src="../static/black_jesus.png" alt="">
                <img class="p-3" src="../static/ai_bot.jpeg" alt="">
                <img class="p-3" src="../static/coding.jpeg" alt="">
                <img class="p-3" src="../static/aubie.png" alt="">
                <img class="p-3" src="../static/engineer_coding.png" alt="">
            </div>    
    </div>
{% endblock %}