{% extends 'base.html' %}

{% block title %}DevCEO{% endblock %}

{% block content %}
    <img 
        class="w-screen"
        src="../static/devceo_logo.png" 
        alt="logo for MarcDevCEO"
    >
    <div class="m-10 text-xl h-screen">
        <p>
            Welcome to my portfolio site! I'm a Software Developer specializing in Python, with a 
            strong focus on creating innovative solutions using this versatile language. Here, you'll 
            find a collection of my projects that showcase my expertise, from web development to data 
            analysis. My resume is available for you to explore my professional journey and technical 
            skills. Additionally, I've created a blog where I share insights, tutorials, and thoughts 
            on tech trends.
        </p>
        <br>
        <p>
            As we step into a future driven by automation, I'm honing my AI skills to build cutting-edge
            AI applications. Stay tuned for new projects, and let's connect to discuss collaboration 
            opportunities!
        </p>
    </div>    
{% endblock %}